.page.theme_dark {
  --bg-image: url(../images/cover-image-dark.png);
  --main-color: #f1b2ce;
  --accent-color: #ff0070;
  --minor-color: #000028;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --button-color: #ff0070;
  --decor-color: #ff0070;
  --section-title-color: #ff0070;
  --hover-color: #ff007040;
  --focus-color: 1px solid #ff0070;
  --visible-rec: visible;
  --border-button-dark: 1px solid var(--button-color);
  --border-button-light: none;
  --border-button-auto: none;
}
