.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --minor-color: #353430;
  --title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --button-color: #353430;
  --decor-color: #353430;
  --section-title-color: #353430;
  --hover-color: #35343040;
  --focus-color: 1px solid #353430;
  --visible-rec: hidden;
  --border-button: 1px solid var(--button-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --minor-color: #353430;
    --title-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --button-color: #353430;
    --decor-color: #353430;
    --section-title-color: #353430;
    --hover-color: #35343040;
    --focus-color: 1px solid #353430;
    --visible-rec: hidden;
    --border-button: 1px solid var(--button-color);
  }
}
