:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-color: #f1b2ce;
  --accent-color: #ff0070;
  --minor-color: #000028;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --button-color: #ff0070;
  --decor-color: #ff0070;
  --section-title-color: #ff0070;
  --hover-color: #ff007040;
  --focus-color: 1px solid #ff0070;
  --border-button: 1px solid var(--button-color);
  --visible-rec: visible;
  --main-font: "IBM Plex Mono";
  --font-size: 18px;
  --side-margin: 20px;
}
